.Rectangle{
  background-color: white;
  border:1px solid black;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  float: left;
  margin:5px;
}

.CommonRectangle{
  float: left;
  z-index: 1;
}

.insideRectangleOne{
  margin:5px;
  width:50px;
  height: 50px;
  float: left;
  background-color: #f8e8d1;
  z-index: 1;
}
.insideRectangleTwo{
  margin:5px;
  width:50px;
  height: 50px;
  float: left;
  background-color: #dbe6d6;
  z-index: 1;
}
.insideRectangleThree{
  margin:5px;
  width:70px;
  height: 30px;
  float: left;
  background-color: white;
  border-radius: 10px;
  border:2px solid black;
  padding: 5px;
  z-index: 10;
}

.buttonText{
  margin-top:5px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

.addBox{
  display: none;
  width: 150px;
  height: 30px;
  margin-top: -50px;
  margin-left: -35px;
}

.addBoxIn{
  width:49%;
  height: 100%;
  background-color: orange;
  float: left;
  border-radius: 10px;
  font-size: 14px;
}

.addBoxInTwo{
  margin-left:2%;
  width:46%;
  height: 92%;
  font-size: 14px;
  background-color: white;
  float: left;
  border:1px solid black;
  border-radius: 10px;
}

.insertNewBlock{
  top:0px;
  left:0px;
  /* background-color: yellow; */
  z-index: 10;
}
